/*  This removes all padding and margin from the <body> element. 
* {
  margin: 0%;
  padding: 0%;
}
*/
body {
  background-color: #f4f4f4;
  color: #555555;

  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: normal;

  /* Same as above */
  font: normal 18px "Open Sans", Arial, Helvetica, sans-serif;

  line-height: 1.5em;
}
/* a = anchor tag / links */
a {
  text-decoration: none;
  color: black;
}
a:hover {
  color: red;
}
a:active {
  color: blue;
}
a:visited {
  color: white;
}

.container {
  width: 80%;
  margin: auto;
}
.button {
  padding: 8px;
  background-color: #333333;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  border: none;
}
.button:hover {
  background-color: #555555;
}
.clear-fix {
  clear: both;
}

.box-1 {
  /* Box 1 */
  background-color: #333333;
  color: #ffffff;

  border-width: 5px;
  border-color: red;
  border-style: solid;

  /* Same as above */
  border: 5px red solid solid;

  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;

  /* Same as above */
  padding: 20px;
}

.box-1 h1 {
  /* Box 1 heading */
  font-family: "Times New Roman", Times, serif;
  font-size: 40px;
  font-weight: 800px;
  font-style: italic;
  text-decoration: underline;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  word-spacing: 1em;
}

.box-2 {
  /* Box 2 */
  border: 3px dotted #333333;
  padding: 20px;
  margin: 20px 0;
}

.categories {
  /* Categories */
  border: 1px #333333 solid;
  padding: 10px;
  border-radius: 15px; /* 15px rounded corners */
}
.categories h2 {
  /* Categories heading */
  text-align: center;
}
.categories ul {
  /* Categories list */
  list-style: none;
  margin: 0;
  padding: 0;
}

.categories li {
  padding-bottom: 8px;
  border-bottom: dotted 1px#333;
}

.my-form {
  padding: 20px;
}
.my-form .form-group {
  padding-bottom: 15px;
}
.my-form label {
  display: block;
}
.my-form input[type="text"],
.my-form textarea {
  padding: 8px;
  width: 100%;
}

.block {
  float: left;
  width: 33.3%;
  border: 1px solid #333;
  padding: 10px;
  box-sizing: border-box;
}
#main-block {
  float: left;
  width: 70%;
  padding: 15px;
  box-sizing: border-box;
}

#sidebar {
  float: right;
  width: 30%;
  background-color: #333;
  color: #fff;
  padding: 15px;
  box-sizing: border-box;
}
.position-box {
  width: 800px;
  height: 500px;
  border: 1px solid #000;
  margin-top: 30px;
  position: relative; /* Box is positioned relative to its parent */
  background-image: url("../assets/bgimage.png");
  background-position: center top;
}

.position-box h1 {
  position: absolute; /* Positioned absolutely from position-box*/
  top: 100px;
  left: 200px;
}
.position-box h2 {
  position: absolute;
  bottom: 30px;
  right: 100px;
  color: wheat;
}
.fix-me {
  position: fixed;
  top: 400px;
}
.my-list li:first-child {
  /* First list item */
  background: red;
}
.my-list li:last-child {
  /* Last list item */
  background: blue;
}
.my-list li:nth-child(5) {
  /* 5th list item */
  background: yellow;
}
.my-list li:nth-child(even) {
  background: grey;
}
